.block {
    border: 1px solid black;
    border-collapse: collapse;
    background: #f5f2f2;
}

.padding {
    min-width: 3.115em;
    text-align: center;
}

.csv-table {
    border-collapse: collapse;
    height: 20px;
}

.csv-table tbody tr td {
    font-size: 0.825em !important;
    vertical-align: top;
}

.csv-table thead tr th {
    font-size: 0.825em !important;
    vertical-align: top;
}